<app-menu></app-menu>
<div>
</div><div class='component-content'>
	<div>
		<span class='component-title'>[{{title}}]</span> 
		 <span><a routerLink='/purchaserequest/create'><img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'></a></span>
		| <span><a routerLink='/purchaserequest/list'>Back to list</a></span>
	</div>
	<p *ngIf='undefined'>Loading ...</p>
	<table class='table table-sm' *ngIf='purchaserequest'>
		<tr><th>ID:</th><td>{{purchaserequest.Id}}</td></tr>
		<tr><th>User ID:</th><td>{{purchaserequest.UserID}}</td></tr>
		<tr><th>Description:</th><td>{{purchaserequest.Description}}</td></tr>
		<tr><th>Justification:</th><td>{{purchaserequest.Justification}}</td></tr>
		<tr><th>Date Needed:</th><td>{{purchaserequest.DateNeeded | date}}</td></tr>
		<tr><th>Delivery Mode:</th><td>{{purchaserequest.DeliveryMode}}</td></tr>
		<tr><th>Status:</th><td>{{purchaserequest.StatusID}}</td></tr>
		<tr><th>Total:</th><td>{{purchaserequest.Total | currency}}</td></tr>
		<tr><th>Date Submitted:</th><td>{{purchaserequest.SubmittedDate | date}}</td></tr>
		
		<tr><td colspan="2">
			<a routerLink='/purchaserequest/edit/{{purchaserequest.Id}}' class = 'btn btn-primary' title='Edit'>Edit</a>
			<button (click)="remove()" class='btn btn-danger' title='Delete'>Delete</button>
		</td></tr>
	</table>
</div>

